In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
hp=pd.read_csv("F:/ANUJITH FILES/ASB FILES/ACAD-4/dtasets/Hprice.csv")

In [5]:
hp

   Area  Bedroom  Age   Price
0  2500      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [7]:
#imputation or tackling with missing values
import math
median_Bedrooms=math.floor(hp.Bedroom.median())

In [8]:
median_Bedrooms

3

In [13]:
hp.Bedroom=hp.Bedroom.fillna(median_Bedrooms)

In [14]:
hp

   Area  Bedroom  Age   Price
0  2500      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [16]:

#multiple regression
reg=linear_model.LinearRegression()
reg.fit(hp[['Area','Bedroom','Age']],hp.Price)

LinearRegression()

In [17]:
reg.coef_

array([   123.5940919 , -20593.81838074,  -6445.56892779])

In [18]:
reg.intercept_

404530.3610503279

In [19]:
#Predicting the price fornew values of independent variables
reg.predict([[3000,3,40]])

array([455708.42450766])

In [20]:
# new dATA SET

In [21]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [22]:
avanti=pd.read_csv("F:/ANUJITH FILES/ASB FILES/ACAD-4/foundations of AIML/AvantiRD.csv")

In [23]:
avanti

,Report Date,Sales,Raw Material Cost,Change in Inventory,Power and Fuel,Other Mfr. Exp,Employee Cost,Selling and admin,Other Expenses,Other Income,Depreciation,Interest,Profit before tax,Tax,Net profit,Dividend Amount
0,2012-03-31,382.84,274.93,-4.17,10.85,9.07,15.84,26.53,-3.77,2.86,4.00,4.07,40.01,11.96,28.05,5.20
1,2013-03-31,626.33,516.33,19.36,19.12,13.91,21.64,43.26,-20.19,1.42,4.98,3.92,44.14,13.96,30.05,5.90
2,2014-03-31,1093.27,882.40,12.63,26.39,20.42,35.24,66.38,-36.46,3.57,5.54,4.39,105.17,35.42,70.41,13.62
3,2015-03-31,1708.65,1383.06,15.00,28.83,34.56,47.68,116.63,-69.44,8.98,8.80,2.67,179.84,63.27,115.92,24.97
4,2016-03-31,1935.32,1542.97,14.06,25.63,34.87,58.22,133.12,-76.76,20.46,10.23,3.38,238.18,79.20,157.50,31.78
5,2017-03-31,2615.74,2100.54,29.38,33.65,46.15,73.15,51.11,8.30,23.35,13.69,5.14,336.74,110.43,215.66,40.86
6,2018-03-31,3392.90,2485.18,75.50,49.35,84.04,110.97,43.68,10.68,48.55,23.76,4.79,704.50,238.02,446.47,54.48
7,2019-03-31,3487.78,2740.18,3.25,53.61,114.03,100.57,54.25,18.60,59.01,35.84,4.91,428.05,121.44,273.63,54.48
8,2020-03-31,4115.29,3299.37,35.20,59.31,131.38,113.92,65.27,24.87,70.58,37.71,4.38,484.86,98.57,346.49,69.46
9,2021-03-31,4100.56,3264.02,59.04,61.58,142.31,126.70,87.19,16.69,92.53,40.93,3.05,509.66,112.29,360.07,85.12

In [24]:
print(avanti.columns.values)

['Report Date' 'Sales' 'Raw Material Cost' 'Change in Inventory'
 'Power and Fuel' 'Other Mfr. Exp' 'Employee Cost' 'Selling and admin'
 'Other Expenses' 'Other Income' 'Depreciation' 'Interest'
 'Profit before tax' 'Tax' 'Net profit' 'Dividend Amount']

In [25]:
#multiple regression
reg=linear_model.LinearRegression()
reg.fit(avanti[['Sales', 'Net profit']],avanti[['Dividend Amount']])

LinearRegression()